---
import FilesArea from '../components/FilesArea.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Do not follow me">
	<main>
		<h1>Do not follow <span class="text-gradient">me</span></h1>
		<FilesArea />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		color: #000;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
