---
import IconFile from "./IconFile.astro";

---
<section class="dropzone-container">
  <div class="card dropzone dropzone-followers" data-dropzone-followers>
    <input class="inner" type="file" data-followers-file>
      <span class="file-name followers-text-file">Select your followers file</span>
    </input>
  </div>
  <div class="icon">
    <IconFile />
  </div>
  <div class="card dropzone dropzone-following" data-dropzone-following>
    <input class="inner" type="file" data-following-file>
      <span class="file-name following-text-file">Select your following file</span>
    </input>
  </div>
</section>
<section class="resume-files">

</section>

<script>
  import type { Followers } from "../interfaces/followers.interface" 
  import type { Following, FollowingContent } from "../interfaces/following.interface" 
  import { FileDropzone, DropzoneAction } from "../enums/dropzone.enum" 

  const followersFile = document.querySelector('[data-followers-file]');
  const followingFile = document.querySelector('[data-following-file]');

  const dropzoneFollowers = document.querySelector('[data-dropzone-followers]')
  const dropzoneFollowing = document.querySelector('[data-dropzone-following]')

  let listFollowers: Followers[] = []
  let listFollowing: Following[] = []


  followersFile?.addEventListener('change', event => {
    addFileName(event, 'followers-text-file', FileDropzone.FOLLOWERS)
  })

  followingFile?.addEventListener('change', event => {
    addFileName(event, 'following-text-file', FileDropzone.FOLLOWING)
  })

  function handleDragEvent(event: any, action: DropzoneAction) {
    if (action === DropzoneAction.ADD) {
      event.currentTarget.classList.add('hoverEvent');
    } else if (action === DropzoneAction.REMOVE) {
      event.currentTarget.classList.remove('hoverEvent');
    }
  }

  function initializeDropzone(dropzone: Element | null) {
    dropzone?.addEventListener("dragover", (event: Event) => handleDragEvent(event, DropzoneAction.ADD), false);
    dropzone?.addEventListener("dragleave", (event: Event) => handleDragEvent(event, DropzoneAction.REMOVE), false);
    dropzone?.addEventListener("drop", (event: Event) => handleDragEvent(event, DropzoneAction.REMOVE), false);
  }

  initializeDropzone(dropzoneFollowers);
  initializeDropzone(dropzoneFollowing);

  function addFileName(event: any, elementClass: string, parentName: FileDropzone){
    if(event?.target?.files[0]){
      const textRef = document?.querySelector(`.${elementClass}`)
      textRef!.textContent = `${event.target.files[0].name}`
      document.querySelector(`.${parentName}`)?.setAttribute('class', 'card dropzone active')
      convertFileToJson(event, parentName)
    }
  }

  function convertFileToJson(event: any, parent: FileDropzone){
    const file = event.target.files[0]
    const reader = new FileReader()

    reader.onload = function (eventFile: any) {
      try {
        if(parent === FileDropzone.FOLLOWERS){
          const jsonFollowers = JSON.parse(eventFile.target.result) as Followers[]
          listFollowers = jsonFollowers
        } else if (parent === FileDropzone.FOLLOWING){
          const jsonFollowing = JSON.parse(eventFile.target.result) as FollowingContent
          listFollowing = jsonFollowing.relationships_following
        }
      } catch (error) {
        alert('Error al procesar los archivos')
      }
    }; 
    reader.readAsText(file)
  }

</script>



<style>
	.dropzone-container {
    margin: auto;
    width: 70vw;
    height: 40vh;
    max-width: 900px;
    background-color: #e1e1e12f;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
  }

  .resume-files{
    margin: 10px auto;
    border-radius: 30px;
    max-width: 900px;
    width: 70vw;
    height: 20vh;
    background-color: #e1e1e12f;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 100%;
    border-radius: 30px;
  }

  .card .inner {
    height: calc(100% - 8px);
    background: #323232;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
  }

  .card .inner::-webkit-file-upload-button {
    visibility: hidden;
  }

  .dropzone {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  .dropzone .inner {
    position: relative;
    width: 100%;
    border: none;
    color: transparent;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .dropzone .inner {
    margin: 5px;
  }

  .dropzone::before {
    content: "";
    display: block;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(102, 102, 102, 0.75) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 300px;
    width: 200px;
    position: absolute;
    animation: rotate 5s linear forwards infinite;
    z-index: 0;
    top: 50%;
    transform-origin: top center;
    transition: 0.5s;
  }

  .dropzone:hover::before {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(72, 119, 230, 0.75) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .active {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(72, 230, 85, 0.563) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .hoverEvent {
    transform: scale(1.1);
  }

  .file-name{
    position: absolute;
    font-size: 18px;
    color: #fff;
    user-select: none;
  }

</style>
