---

---

<section>
  <div class="card dropzone">
    <div class="inner">
    </div>
  </div>
  <div>

  </div>
  <div class="card dropzone">
    <div class="inner">
    </div>
  </div>
</section>

<style>
	section {
    margin: auto;
    width: 70vw;
    height: 60vh;
    background-color: #e1e1e12f;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
  }

  .card {
    height: 100%;
    border-radius: 30px;
  }

  .card .inner {
    height: calc(100% - 2px);
    background: #323232;
    color: #fff;
    border-radius: 30px;
  }

  .dropzone {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .dropzone .inner {
    position: relative;
    width: 100%;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .dropzone .inner {
    margin: 2px;
  }

  .dropzone::before {
    content: "";
    display: block;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(102, 102, 102, 0.75) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 300px;
    width: 200px;
    transform: translate(0);
    position: absolute;
    animation: rotate 5s linear forwards infinite;
    z-index: 0;
    top: 50%;
    transform-origin: top center;
    transition: 0.5s;
  }

  .dropzone:hover::before {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(72, 119, 230, 0.75) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

</style>
